<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Banner</title>
</head>
<body>
        <div [@bannerAnimation]="bannerVisible ? 'visible' : 'hidden'" class="cookie-banner">
            <div class="text">
              Se solicita aceptar el uso de cookies para personalizar el sitio, mostrar anuncios y medir su efectividad en aplicaciones y sitios web, incluidas redes sociales. También se ofrece la opción de ajustar preferencias o rechazar el uso de cookies.
              <a [routerLink]="['/cookies/politicas']" class="cookie-link">Política de cookies</a>.
            </div>
            <div class="eleccion">
              <button class="configuracion-cookies" (click)="configurarCookies()">Configuración de cookies</button>
              <button mat-raised-button color="warn" class="rechazar-todas" (click)="rejectCookies()">Rechazar no necesarias</button>
              <button mat-raised-button color="primary" class="aceptar-todas" (click)="acceptCookies()">Aceptar todas</button>
            </div>
          </div>          
</body>
</html>
