<mat-card>
    <h2>{{isEditMode ? 'Actualizar Cambios' : 'Agregar Cookie' }}</h2>
    <form [formGroup] = "cookieForm" (ngSubmit) = "onSubmit()">

    <mat-form-field class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" required />
        <mat-error *ngIf="cookieForm.get('nombre')?.invalid">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="descripcion" required />
        <mat-error *ngIf="cookieForm.get('Descripcion')?.invalid">
        </mat-error>
      </mat-form-field>

      <div class="form-action">
        <button  mat-flat-button color="warn" type="submit" [disabled]="cookieForm.invalid" >
            {{ isEditMode ? 'Actualizar Cambios' : 'Agregar Cookie' }}
        </button>
        <button mat-raised-button color="warm" (click)="router.navigate(['/cookies/list'])" type = "button">
            Cancelar
        </button>
      </div>  
    </form>
</mat-card>
